<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Online</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/vendor/open-iconic-master/font/css/open-iconic-bootstrap.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


        <!-- Site Icons -->
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/vendor/home/css/bootstrap.min.css">       
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/vendor/home/css/responsive.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/vendor/home/css/custom.css">
    </head>
    <body>
        <div class="app">
            <header class='top-navbar'>
                {{> header}}
            </header>
            <div>
                {{{body}}}
            </div>
            <footer style="visibility: {{hidden}};">
                {{> footer}}
            </footer>
        </div>

        <script src="https://kit.fontawesome.com/a656ea2bb9.js" crossorigin="anonymous"></script>
        <!-- ALL JS FILES -->
        <script src="/vendor/home/js/jquery-3.2.1.min.js"></script>
        <script src="/vendor/home/js/popper.min.js"></script>
        <script src="/vendor/home/js/bootstrap.min.js"></script>
        <!-- ALL PLUGINS -->
        <script src="/vendor/home/js/jquery.superslides.min.js"></script>
        <script src="/vendor/home/js/images-loded.min.js"></script>
        <script src="/vendor/home/js/isotope.min.js"></script>
        <script src="/vendor/home/js/baguetteBox.min.js"></script>
        <script src="/vendor/home/js/form-validator.min.js"></script>
        <script src="/vendor/home/js/contact-form-script.js"></script>
        <script src="/vendor/home/js/custom.js"></script>  

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/chat.js"></script>
        <script src="/js/profile.js"></script>     
    </body>
</html>