.card-course-item {
  margin-top: 30px; }

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0px;
  margin-top: 0px; }

.footer-icon {
  margin-top: 20px; }

.contact-link {
  margin-top: 10px; }

.foods h3 {
  font-size: 35px; }

.foods input .form-control {
  padding: 6px 5px 6px 5px;
  height: 5px;
  font-size: 15px; }

.foods label {
  margin: 5px 0px 0px 0px; }

.foods .form-group {
  margin: 0px; }

.foods span {
  color: red;
  font-size: 18px; }

.foods .foodImage {
  margin: 0px 0px 0px 0px; }

.badge {
  position: absolute;
  border-radius: 10px;
  color: red;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: -10px;
  margin-left: -10px; }

.btn-submit :hover {
  color: red;
  background-color: #007Bff; }
