


  
  
  input {
    outline: none;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    /* -webkit-box-sizing: content-box; */
    font-family: inherit;
    font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none; 
  }
  
  
  input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 2px #D65106;
    padding: 5px 26px 5px 20px;
    width: 55px;
    
    -webkit-border-radius: 100em;
    -moz-border-radius: 100em;
    border-radius: 100em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  
  input:-moz-placeholder {
    color: #D65106;
  }
  input::-webkit-input-placeholder {
    color: #D65106;
  }
  
  #seach-homepage input[type=search] {
    width: 20px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
  }
  #seach-homepage input[type=search]:hover {
    background-color: #fff;
  }

  #seach-homepage-type input[type=search] {
    width: 20px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
  }
  #seach-homepage-type input[type=search]:hover {
    background-color: #fff;
  }

  .search-focus{
    /* width: 130px; */
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
    width: 100%;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
  }

  #seach-homepage input[type=search]:focus {
    
    /* -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5); */
    padding-left: 32px;
    color: #000;
  }
  #seach-homepage-type input[type=search]:focus {
    
    /* -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5); */
    padding-left: 32px;
    color: #000;
  }
  #seach-homepage input:-moz-placeholder {
    color: transparent;
  }
  #seach-homepage input::-webkit-input-placeholder {
    color: transparent;
  }
  #seach-homepage-type input:-moz-placeholder {
    color: transparent;
  }
  #seach-homepage-type input::-webkit-input-placeholder {
    color: transparent;
  }