<div class="chat_window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div class="title">Chat</div>
    </div>
    <ul id ="messages" class="messages">
        {{#each chats}}
            {{{textChat this }}}
        {{/each}}
        {{!-- <p style="text-align: center;">by {{{sender chats}}} just now</p> --}}
    </ul>
     
    <div class="bottom_wrapper clearfix">
        <i id="typing"></i>
        <form id="form" autocomplete="off">
            <div class="message_input_wrapper">
                <input id="text" name='text' class="message_input" placeholder="Type your message here..." />
            </div>
            <button class="send_message" type="search" autocomplete="off">
                Send
            </button>
            <input type="hidden" id='idPerson' class='idPerson' name="idPerson" value={{user._id}}>
        </form>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="js/chat.js"></script>  