
<!-- Start Footer -->
<footer class="footer-area bg-f">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8">
                <h3>Sản phẩm</h3>
                <p class="lead"><a href="/">Đồ uống</a></p>
                <p class="lead"><a href="/">Đồ ăn sáng</a></p>
                <p class="lead"><a href="/">Đồ ăn trưa</a></p>
                <p class="lead"><a href="/">Đồ ăn tối</a></p>
                
            </div>
            <div class="col-lg-4 col-md-8">
                <h3>Thông tin liên lạc</h3>
                <div class="subscribe_form">
                    <form class="subscribe_form">
                        <input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
                        <button type="submit" class="submit">SUBSCRIBE</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <ul class="list-inline f-social">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-8">
                <h3>Giờ mở cửa</h3>
                <p><span class="text-color">T2 :</span> 8h - 22h </p>
                <p><span class="text-color">T3-T6 :</span> 8h30 - 22h </p>
                <p><span class="text-color">T7 :</span> 8h30 - 21h30</p>
                <p><span class="text-color">CN :</span> 8h - 21h30</p>
            </div>
        </div>
    </div>
    
</footer>
<!-- End Footer -->
